@{
  List<Article> articleList = (ViewData["articleList"]?? new List<Article>()) as List<Article>;
}
<main>
  <div>
    <ol>
    @foreach(Article article in articleList)
    {
      <li>
        @Html.Raw(article.FullDescription)
      </li>
    }
    </ol>
  </div>
  <form  action="/Home/SaveInfo" method="post">
      <textarea id="elorda-editor" name="content">
      <p><em>Hello</em>, <span style="text-decoration: underline;"><strong>World!</strong></span></p>
        </textarea>
        <button type="submit">Save</button>
  </form>
 
</main>
@section scripts
{
  <script src="~/plugins/tinymce/tinymce.min.js"></script>
  <script>
     tinymce.init({
          selector: 'textarea#elorda-editor',
          plugins: [
             'a11ychecker', 'advcode', 'advlist', 'anchor', 'autolink', 'codesample', 'fullscreen', 'help',
             'image', 'editimage', 'tinydrive', 'lists', 'link', 'media', 'powerpaste', 'preview',
             'searchreplace', 'table', 'template', 'visualblocks', 'wordcount'
        ],
        toolbar: 'insertfile a11ycheck undo redo | bold italic | forecolor backcolor | template codesample | alignleft aligncenter alignright alignjustify | bullist numlist | link preview',
        menubar: false

      });
  </script>
}

