@{
    //Person person  =  ViewBag.person!=null? ViewBag.person as Person :null;
}

<!DOCTYPE html>     
<html>
    <head>
        <title>@Model.Title</title>
    </head>
    <body>
            <h1>@Model.Person.Name @Model.Person.Age</h1>
    </body>
</html