
<main>
   <div class="card">
    <div class="card-body">
 <table id="article-list" class="table">
        <thead>
            <tr>
                <th>@T("ls_Title")</th>
                <th>@T("ls_Manage")</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Salem sdfjlds fds </td>
                <td><a>@T("ls_Edit")</a></td>
            </tr>
        </tbody>
   </table>
    </div>
   
   </div>
</main>