<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Material Design Bootstrap</title>

  <link rel="stylesheet" href="~/css/all.css">
  <link rel="stylesheet" href="~/css/bootstrap.min.css">
  <link rel="stylesheet" href="~/css/mdb.min.css">
  <link rel="stylesheet" href="~/plugins/bootstrap-fileinput/css/fileinput.min.css">
  <link rel="stylesheet" href="~/plugins/cropperjs/dist/cropper.min.css">
  <link rel="stylesheet" href="~/css/main.css" asp-append-version="true">
  @RenderSection("styles",false)
</head>
<body class="fixed-sn white-skin">
  <partial name="~/Views/Partial/Header.cshtml" />
  @RenderBody()
  <partial name="~/Views/Partial/Footer.cshtml" />
  <script src="~/js/jquery-3.4.1.min.js"></script>
  <script src="~/js/popper.min.js"></script>
  <script src="~/js/bootstrap.js"></script>
  <script src="~/js/mdb.min.js"></script>
  <script src="~/plugins/bootstrap-fileinput/js/fileinput.min.js"></script>
  <script src="~/plugins/bootstrap-fileinput/themes/fa6/theme.min.js"></script>
  <script src="~/plugins/cropperjs/dist/cropper.min.js"></script>
   <script src="~/js/jquery.bootpag.js"></script>
   <script src="~/js/common.js" asp-append-version="true"></script>
  @RenderSection("scripts",false)
  <script>
    // SideNav Initialization
    $(".button-collapse").sideNav();

    var container = document.querySelector('.custom-scrollbar');
    var ps = new PerfectScrollbar(container, {
      wheelSpeed: 2,
      wheelPropagation: true,
      minScrollbarLength: 20
    });

  </script>

    @RenderSection("modals",false)
</body>

</html>
